@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Open+Sans&family=Roboto&display=swap');

/* 

Fonts:

font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;

*/
:root{
    --brown-dark: #a35a00;
    --brown-light: cornsilk;
    --bax-shadow: 1px 1px 8px #bbbbbb;
    --packagefeatureColor: coral;
    --packagefeatureColor: #4f4f4f;
    --pkgbtnColor: #008ba3;
    --pkgbtnColor: coral;
}

/* Whatsapp Button */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
	box-shadow: 2px 2px 10px #303030;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}

img.fullbg{
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

header{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

div.abovenav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 14px 2vw;
}

div.abovenav div.call{
    display: flex;
    column-gap: 8px;
}

nav{
    /* padding: 3vh 3vw; */
    padding: 3vh 0vw;
}

div.abovenav div.call span{}

div.abovenav div.socialicons{
    display: flex;
    column-gap: 15px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: white;
}

div.logodiv{
    padding-top: 1vh;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin: 0px;
}

#navlogo{
    width: 138px;
    height: 14vh;
}

.navlink, .logolink {
    text-decoration: none;
    color: #757575;
    /* font-weight: bold; */
}

.logolink{
    font-weight: bold;
    color: #515451;
    font-size: 2rem;
}

.navlink{
    font-size: 0.9rem;
}

.navlink:hover{
    color: green;
    border-top: 3px solid green;
}

#headertextWrapper{
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgba(0, 0, 0, 0.568); */
    backdrop-filter: blur(5px);
    background-blend-mode: darken;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5vw;
    /* background-color: black; */
}

#headertextWrapper .textcontainer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 50%;
}
#headertextWrapper .textcontainer .btnWrapper{
    display: inherit;
    column-gap: 5px;
}
#headertextWrapper .textcontainer .headings{
    display: flex;
    flex-direction: column;
}
#headertextWrapper .textcontainer p{
    color: #343434;
}
.headerText-span{
    font-size: 2.5rem;
    font-weight: bold;
}
#headertextWrapper img{
    width: 445px;
    height: 378px;
}
#header-text2{
    font-size: 1.7rem;
}
#header-text3{
    color: #0a400a;
}
#header-text1{
    font-size: 2.2rem;
    color: gray;
}


.mainitem{
    padding: 7vh 5vw;
    display: flex;
    flex-direction: column;
    row-gap: 7vh;
}

#queryFormSection{
    /* background-color: #011c01; */
    background: url(/static/img/coverpics/h2.jpg);
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 128, 0), transparent);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.479);
    background-color: rgb(0 138 191 / 85%);
    background-color: rgb(0 0 0 / 61%);
    background-color: green;
    background-color: #005000ec;
    background-color: rgba(0, 0, 0, 0.733);
    background-blend-mode: darken;
}

#queryFormSection .formWrapper{
    display: flex;
    flex-direction: column;
}

#queryFormSection .formWrapper:hover{
}

#queryFormSection .formWrapper img{
    width: 460px;
}

#queryFormSection .sectionheading{
    text-align: center;
    padding: 0px;
    color: white;
}

#queryForm{
    display: flex;
    flex-direction: column;
    padding: 25px 25px;
    border-radius: 10px;
    background-color: rgb(229 229 229);
    background-color: rgb(11 30 12);
    background-color: rgb(0 0 0 / 61%);
    background-color: #004802e6;
    background-color: #0048027a;
    backdrop-filter: blur(8px);
    
}

#queryForm .inputfieldWrapper{
    min-width: 25vw;
    border-bottom: 1px solid rgb(202, 202, 202);
    padding: 16px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

#queryForm .inputfieldWrapper svg{
    width: 1.3rem;
    height: 1.3rem;
}

#queryForm .inputfieldWrapper svg path{
    color: white;
}

#queryForm .inputfieldWrapper .inputfield{
    outline: none;
    border: none;
    background: none;
    color: white;
    font-size: 0.9rem;
}

#queryForm .inputfieldWrapper .inputfield::placeholder{
    color: rgb(219, 219, 219);
}

#queryForm .inputfieldWrapper .inputfield:focus{
    /* border-bottom: 3px solid rgb(8, 94, 8); */
}

#queryForm button[type="submit"]{
    align-self: center;
    margin-top: 22px;
}

#queryFormSection div.form form div.input{
    
}

#queryFormSection div.form form div label{
    
}

#queryFormSection div.form form .inputfield{

}

#queryFormSection div.form form .inputfield::placeholder{

}

#queryFormSection div.form form .inputfield:focus{
}

.queryformbtn{
    

}

h1.customfont{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Varela Round', sans-serif; */
    /* font-family: 'Ysabeau SC', sans-serif; */
}

.inputfield{
    
}

footer{
    display: flex;
    flex-direction: column;
    /* background-color: var(--brown-light); */
    background-color: black;

    /* background: linear-gradient(45deg, orange, blue);
    background-color: #000000bd;
    background-blend-mode: darken; */
}

.footerlink{
    color: white;
    text-decoration: none;
    transition: border text-decoration 1s;
}

.footerlink:hover{
    text-decoration: underline;
}

p.copyright{
    text-align: center;
    /* background: linear-gradient(45deg, orange, blue); */
    color: #999999;
    border-top: 1px solid #424242;
    padding: 15px 0px;
    font-size: 0.83rem;
}

p.address{
    color: rgba(0, 0, 0, 0.42);
    text-align: left;
    font-size: 1.6rem;
}

footer div.content{
    display: flex;
    width: inherit;
    align-items: center;
    justify-content: center;
    column-gap: 10vw;
    padding: 60px 7vw;
    flex-wrap: wrap;
    row-gap: 60px;
}

div.footerinnerdiv.quicklinks{
    display: flex;
    align-items: center;
    column-gap: 45px;
    row-gap: 45px;
    justify-content: center;
    flex-wrap: wrap;
}

div.address{
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

div.footerlinkcontainer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

iframe.addressiframe{
    height: 500px;
    min-width: 50%;
}

.footertext{
    font-size: 0.9em;
    text-align: center;
    color: #ffffffbf;
}

div.cps.footerinnerdiv{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

div.cps.footerinnerdiv div.cpsinnerdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20%;
}

div.cps.footerinnerdiv div.cpsinnerdiv img{
    width: 70px;
}

div.cps.footerinnerdiv div.cpsinnerdiv.s svg{
    width: 25px;
    height: 25px;
    color: #a35a00;
}

div.cps.footerinnerdiv div.cpsinnerdiv.s{
    column-gap: 7%;
}

section.packages.mainitem{
    background-color: white;
    /* padding: 7vh 0vw; */
}

section.packages.mainitem div.content{
    padding: 0px 0vw;
    display: flex;
    /* grid-template-columns: repeat(auto-fit, 330px); */
    /* grid-template-columns: auto auto auto; */
    /* grid-auto-flow: row; */
    justify-content: center;
    column-gap: 2vw;
    row-gap: 5vh;
    flex-wrap: wrap;
}

section.packages.mainitem h1{
    /* margin-bottom: 10vh; */
}

.myPkgCard{
    display: flex;
    flex-direction: column;
    /* width: 30vw; */
    width: 347px;
    /* transform: scale(0.5); */
    box-shadow: 1px 1px 8px #bbbbbb;
    border-radius: 22px;
    padding: 20px;
}
.pkgCardImgWrapper{
    width: 100%;
    margin-bottom: 10px;
    margin-bottom: 2%;
    border-radius: inherit;
    overflow: hidden;
}
.pkgCardImg{
    width: 100%;
    border-radius: inherit;
}
.myPkgCardText *{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
.myPkgCardText{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    row-gap: 15px;
}
.myPkgCardText .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.myPkgCardText .top .duration, .myPkgCardText .top .price{
    font-weight: bold;
    font-size: 1.3rem;
}
.myPkgCardText .top .duration{
    color: #747474;
    /* color: #226187; */
}
.myPkgCardText .top .duration .content{
}
.myPkgCardText .top .duration .days{
    /* font-size: 1.2rem; */
}
.myPkgCardText .top .price{
    color: #818181;
    color: #2e2e2e;
}
.myPkgCardText .top .price span{

}
.myPkgCardText .title{
    font-size: 1.5rem;
    text-align: center;
    /* margin-bottom: 5px; */
    color: white;
    background-color: green;
    padding: 8px 5px;
    border-radius: 7px;
}
.myPkgCardText .title svg{
    width: 25px;
    height: 25px;
}
.myPkgCardText .title svg path{
    color: gold;
}
.myPkgCardText .hotelContainer{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0px 5%;
}
.myPkgCardText .hotelContainer .hotel{
}
.myPkgCardText .hotelContainer .hotel .hotelTitle{
    color: #003c00;
    color: #007487;
    margin-bottom: 3px;
    font-size: 1.3rem;
}
.myPkgCardText .hotelContainer .hotel .hotelTitle span{
    font-size: 0.9rem;
}
.myPkgCardText .hotelContainer .hotel .hotelDuration{
    font-weight: bold;
    color: #606060;
    font-size: 0.9rem;
    text-align: right;
}

.myPkgCardText .featureContainer{
    display: flex;
    justify-content: space-around;
}
.myPkgCardText .featureContainer .feature{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.myPkgCardText .featureContainer .feature span{
    font-weight: bold;
    color: #545454;
}
.myPkgCardText .featureContainer .feature svg path{
    color: green;
}

a.btn{
    text-decoration: none;
}

.btn{
    text-decoration: none;
    /* background-color: var(--pkgbtnColor);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold; */
    cursor: pointer;

    
    padding: 10px;
    border-radius: 5px;
    border: 2px solid green;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: green;
}
.btn.trans{
    border: 2px solid #686868;
    background: none;
    color: #686868;
    color: black;
}
.btn.trans:hover{
    color: white;
    background-color: #686868;
}

.btn.cardbtn.trans:hover{
    background-color: #686868;
    background-color: coral;
    color: white;
    border: 2px solid coral;
}

.tcenter{
    text-align: center;
}

.sectionheading{
    font-size: 2.2rem;
    /* font-family: 'Abril Fatface', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-family: 'Ysabeau SC', sans-serif; */
    /* font-family: 'Playfair Display', serif; */
    color: coral;
    color: #444444;
    /* color: black; */
    /* background-color: rgb(250, 132, 89); */
    /* background-color: rgb(227, 247, 113); */
    padding: 12px;
    margin-bottom: 0vh;
    /* font-style: italic; */
}
.sectionheadingdiv{
    margin-bottom: 5vh;
    text-align: center;
}
.sectionp{
    color: #000000a1;
}

#servicesSection *{
    /* color: white; */
}

#servicesSection{
    /* background: linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 128, 0), transparent); */
    /* background: url(/static/img/formbg.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.733);
    background-color: rgb(0 0 0 / 70%);
    background-color: rgb(243 243 243 / 70%);
    background-blend-mode: darken;
}

#servicesSection .sectionheading{
    /* color: white; */
}

#servicesSection .contentWrapper{
    display: flex;
    justify-content: center;
    column-gap: 15px;
}
#servicesSection .contentWrapper .serviceCard{
    background-color: #008000b3;
    background-color: #007400;
    width: 214px;
    border-radius: 5px;
    display: flex;
    padding: 30px;
    row-gap: 41px;
    flex-direction: column;
    box-shadow: 1px 1px 8px #595959;
}
#servicesSection .contentWrapper .serviceCard i{
    align-self: center;
    font-size: 85px;
    color: white;
}
#servicesSection .contentWrapper .serviceCard .cardText{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.serviceCardHeading{
    font-size: 1.4rem;
    color: white;
    text-align: center;
    font-weight: bold;
}
.serviceCardDesc{
    color: rgb(216, 216, 216);
    font-size: 0.95rem;
}
.btn.serviceCardBtn{
    border-color: transparent;
    color: white;
    background-color: black;
}
.btn.serviceCardBtn:hover{
    background-color: rgb(4 14 0);
}

@media only screen and (max-width: 600px) {
    section.packages.mainitem div.content{

    }
}