@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root{
    --brown-dark: #a35a00;
    --brown-light: cornsilk;
    --bax-shadow: 1px 1px 8px #bbbbbb;
    --packagefeatureColor: coral;
    --packagefeatureColor: #4f4f4f;
    --pkgbtnColor: #008ba3;
    --pkgbtnColor: coral;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

img.fullbg{
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

header{
    display: flex;
    flex-direction: column;
}

div.abovenav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 14px 2vw;
}

div.abovenav div.call{
    display: flex;
    column-gap: 8px;
}

nav{
    padding: 3vh 3vw;
}

div.abovenav div.call span{}

div.abovenav div.socialicons{
    display: flex;
    column-gap: 15px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
}

div.logodiv{
    padding-top: 1vh;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin: 0px;
}

#navlogo{
    width: 138px;
    height: 14vh;
}

.navlink, .logolink {
    text-decoration: none;
    color: #757575;
    /* font-weight: bold; */
}

.logolink{
    font-weight: bold;
    color: #515451;
    font-size: 2rem;
}

.navlink{
    font-size: 0.9rem;
}

.navlink:hover{
    color: coral;
    border-top: 2px solid coral;
}

.mainitem{
    margin: 10vh auto;
    padding: auto 5vw;
    padding-inline: 5vw;
}

section.slider{
    width: 60%;
    width: 60vw;
    height: 35vw;
    margin: 10vh auto;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 1px 1px 16px var(--brown-dark);
}

.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}

section.queryform{
    /* height: 40vw; */
    /* width: 100vw; */
    padding: 10vh 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 10vw;
    row-gap: 10vh;
    margin: 0px;
    /* background-image: url("https://source.unsplash.com/random?kabah,madina"); */
    background-image: url('/static/img/h1.jpg');
    background-color: #00000014;
    background-color: #0000007a;
    background-color: #00000070;
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.queryform div.form{
    /* border: 2px solid #0016bd5c; */
    border: 1px solid #a5a5a5;
    /* padding: 35px; */
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border-radius: 10px;
    transition: box-shadow 0.5s;
    backdrop-filter: blur(8px);
    /* background: linear-gradient(45deg, rgba(255, 166, 0, 0.74), rgba(0, 0, 255, 0.705)); */
    background-color: #00000062;
    background-blend-mode: darken;
    padding: 18px;
    
}

section.queryform div.form:hover{
    box-shadow: 2px 2px 15px var(--brown-dark);
}

section.queryform div.form h1{
    text-align: center;
    font-size: 1.7rem;
    color: rgb(250, 112, 69);
    font-family: 'Dancing Script', cursive;
}

section.queryform div.form form{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    row-gap: 5px;
    column-gap: 10px;
    min-width: 177px;
    max-width: 302px;
}

section.queryform div.text{

}

section.queryform div.form form div.input{
    /* padding: 12px; */
}

section.queryform div.form form div label{
    font-size: 0.9rem;
    color: white;
}

section.queryform div.form form .inputfield{
    padding: 12px;
    /* border-bottom: 2px solid #00000026; */
    background: none;
    color: white;
    border-bottom: 1px solid white;
    /* border-radius: 5px; */
    width: 90%;
}

section.queryform div.form form .inputfield::placeholder{
    color: rgba(255, 255, 255, 0.836);
}

section.queryform div.form form .inputfield:focus{
    border-bottom:  1px solid rgb(250, 112, 69);;
}

.queryformbtn{
    color: white;
    background-color: coral;
    border: none;
    padding: 11px 15px ;
    border-radius: 4px;
    margin-top: 15px;

}

h1.customfont{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Varela Round', sans-serif; */
    /* font-family: 'Ysabeau SC', sans-serif; */
}

.inputfield{
    outline: none;
    border: none;
}

select{
    background-color: #2532db;
    color: white;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
}

footer{
    display: flex;
    flex-direction: column;
    /* background-color: var(--brown-light); */
    background-color: black;

    /* background: linear-gradient(45deg, orange, blue);
    background-color: #000000bd;
    background-blend-mode: darken; */
}

.footerlink{
    color: white;
    text-decoration: none;
    transition: border text-decoration 1s;
}

.footerlink:hover{
    text-decoration: underline;
}

p.copyright{
    text-align: center;
    /* background: linear-gradient(45deg, orange, blue); */
    color: #999999;
    border-top: 1px solid #424242;
    padding: 15px 0px;
    font-size: 0.83rem;
}

p.address{
    /* color: var(--brown-dark); */
    text-align: left;
}

footer div.content{
    display: flex;
    width: inherit;
    align-items: center;
    justify-content: center;
    column-gap: 10vw;
    padding: 60px 7vw;
    flex-wrap: wrap;
    row-gap: 60px;
}

div.footerinnerdiv.quicklinks{
    display: flex;
    align-items: center;
    column-gap: 45px;
    row-gap: 45px;
    justify-content: center;
    flex-wrap: wrap;
}

div.address.footerinnerdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    /* width: 21vw; */
}

div.footerlinkcontainer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

iframe.addressiframe{
    height: 270px;
    width: 270px;
    height: 200px;
    width: 100%;
    border-radius: px;
}

.footertext{
    font-size: 0.9em;
    text-align: center;
    color: #ffffffbf;
}

div.cps.footerinnerdiv{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

div.cps.footerinnerdiv div.cpsinnerdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20%;
}

div.cps.footerinnerdiv div.cpsinnerdiv img{
    width: 70px;
}

.h40{
    height: 35px;
}

div.cps.footerinnerdiv div.cpsinnerdiv.s svg{
    width: 25px;
    height: 25px;
    color: #a35a00;
}

div.cps.footerinnerdiv div.cpsinnerdiv.s{
    column-gap: 7%;
}

section.packages.mainitem{
    background-color: white;
}

section.packages.mainitem div.content{
    padding: 0px 3vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, 330px);
    /* grid-auto-flow: row; */
    justify-content: center;
    gap: 5vw;
}

section.packages.mainitem h1{
    /* margin-bottom: 10vh; */
}

.pkgcard{
    width: 330px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    /* box-shadow: 2px 2px 12px lightgray; */
    /* background: linear-gradient(45deg, orange, blue);
    background-color: #000000bd;
    background-blend-mode: darken; */
    background-color: white;
    transition: 0.3s;
}

.pkgcard:hover{
    box-shadow: 2px 2px 12px coral;
    transform: scale(1.03);
}

.pkgcard div.cardimg{
    border-radius: inherit;
    overflow: hidden;
}

.pkgcard div.cardimg img{
    width: 100%;
    border-radius: inherit;
    transition: 0.5s;
}
.pkgcard div.cardimg img:hover{
    /* opacity: 0.5; */
    transform: scale(1.05);
}

.pkgcard div.cardtext{
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.pkgcard div.cardtext div.desc{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.pkgcard div.cardtext div.desc div.feature{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid lightgray;
    /* box-shadow: 1px 1px 4px #c1c1c1; */
    background-color: white;
}

.pkgcard div.cardtext div.desc div.feature div.featureheading{
    display: flex;
    column-gap: 7px;
    align-items: center;
}

p.cardp{
}

.pkgcard div.cardtext div.desc div.feature svg{
    width: 20px;
    height: 20px;
}

.pkgcard div.cardtext div.desc div.feature svg *{
    color: var(--packagefeatureColor);
    /* color: #3681b1; */
}

.cardheading, .cardp{
    /* color: var(--brown-dark); */
}

a.btn{
    text-decoration: none;
}

.btn{
    text-decoration: none;
    /* background-color: var(--pkgbtnColor);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold; */
    cursor: pointer;

    
    padding: 10px;
    border-radius: 5px;
    border: 2px solid coral;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: coral;
}
.btn.trans{
    border: 2px solid #686868;
    background: none;
    color: #686868;
    color: black;
}

.btn.cardbtn.trans:hover{
    background-color: #686868;
    background-color: coral;
    color: white;
    border: 2px solid coral;
}

.tcenter{
    text-align: center;
}

section.services{
    background-color: var(--brown-light);
    padding: 10vh 0px;
    background-color: black;
    /* background: linear-gradient(45deg, orange, blue); */
    /* background-image: url("https://source.unsplash.com/random?kabah,madina"); */
    /* background-color: #00000014; */
    /* background-color: #000000bd; */
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.services h1{
    margin-bottom: 7vh;
    background: none;
    color: white;
    text-shadow: 2px 2px 16px black;
    /* backdrop-filter: blur(8px); */
}

section.services div.content{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 10vw; */
    column-gap: 1vw;
    row-gap: 3vh;
    flex-wrap: wrap;
}

section.services div.content div.servicecard{
    background-color: #ffffff82;
    background-color: #bdbdbd4f;
    height: 200px;
    height: 240px;
    width: 200px;
    padding: 45px;
    border-radius: 10px;
    backdrop-filter: blur(8px);
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

section.services div.content div.servicecard h2{
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 3rem;
    color: white;
    font-family: 'Varela Round', sans-serif;
}

section.services div.content div.servicecard a {
    font-size: 0.86rem;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 5px;
    background: none;
    border: 1px solid white;
    
}

section.services div.content div.servicecard a:hover{
    background-color: coral;
    color: white;
    border: 1px solid coral;
}

img.serviceimg{
    width: 60%;
}

img.widthless.serviceimg{
    width: 50%;
}

.header-text{
    color: white;
    font-weight: bold;
    font-size: 3rem;
    backdrop-filter: blur(1.09px);
    text-shadow: 3px 3px 12px black;
    text-align: center;
    font-style: italic;

    /* font-family: 'Abril Fatface', cursive;
    font-family: 'Dancing Script', cursive; */
    /* font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-family: 'Ysabeau SC', sans-serif; */
}

#header-text1{
    /* color: #00f0ff; */
    text-align: left;
}

#header-text2{
    color: #fff235;
    color: #ffb15c;
    color: #f7f7f7;
}
#header-text3{
    /* color: lime; */
    /* text-align: right; */
    /* color: green; */
}

.sectionheading{
    font-size: 2.2rem;
    /* font-family: 'Abril Fatface', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Varela Round', sans-serif;
    font-family: 'Ysabeau SC', sans-serif; */
    /* font-family: 'Playfair Display', serif; */
    color: coral;
    color: #444444;
    /* color: black; */
    /* background-color: rgb(250, 132, 89); */
    /* background-color: rgb(227, 247, 113); */
    padding: 12px;
    margin-bottom: 0vh;
    /* font-style: italic; */
}
.sectionheadingdiv{
    margin-bottom: 5vh;
    text-align: center;
}
.sectionp{
    color: #000000a1;
}

.cardheading1, .cardheading{

}

.cardtext.cardheading1{
    /* font-family: 'Abril Fatface', cursive; */
    /* font-weight: normal; */
    /* color: coral; */
    /* color: #595959; */
    color: #205f99;
    color: #4f4f4f;
}

.cardtext.cardheading{
    color: var(--packagefeatureColor);
    /* color: #3681b1; */
    font-weight: normal;
}

.cardtext{
    /* font-family: 'Abril Fatface', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif; */
    /* font-family: 'Varela Round', sans-serif; */
    /* font-family: 'Ysabeau SC', sans-serif; */
    color: #595959;
}

#services {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6fffe;
    padding-top: 12vh;
    padding-bottom: 12vh;
  }
  #services .content{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .service-card {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 341px;
    margin: 10px;
    text-align: left;
    /* height: 60vh; */
    /* justify-content: space-evenly; */
  }
  
  .service-card img {
    height: 36vh;
    width: 100%;
  }
  .servicep{
    color: #000000bf;
  }
  