{% extends 'admin/adminbase.html' %}

{% block title %}Add Package - {% endblock title %}

{% block style %}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    height: 100vh;
    justify-content: center;
}

.form form{
    /* align-self: stretch; */
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    width: 80%;
}

.form form input{
    padding: 15px;
    align-self:normal;
    border-radius: 5px;
    border: 1px solid rgb(175, 175, 175);
    transition: outline 0.1s ease;
}

.form form input:focus{
    outline: 3px solid #ff9e7b;
}

.btndiv{
    display: flex;
    column-gap: 5px;
}

{% endblock style %}

<!-- {% block nav %}{% endblock nav %} -->

{% block main %}

<div class="form">
<h1>Edit Package</h1>
    <form action="" method="post">
        <input type="text" name="title" id="" placeholder="Package Title" value="{{pkg.title}}">
        <input type="text" name="makkahHotel" id="" placeholder="Makkah Hotel" value="{{pkg.makkahHotel}}">
        <input type="text" name="madinaHotel" id="" placeholder="Madinah Hotel" value="{{pkg.madinaHotel}}">
        <input type="number" name="duration" id="" placeholder="Total duration of stay(No. of Days)" value="{{pkg.duration}}">
        <input type="number" name="makkahDuration" id="" placeholder="Duration of stay in Makkah(No. of Days)" value="{{pkg.makkahDuration}}">
        <input type="number" name="madinaDuration" id="" placeholder="Duration of stay in Madinah(No. of Days)" value="{{pkg.madinaDuration}}">
        <input type="number" name="price" id="" placeholder="Price in Pounds" value="{{pkg.price}}">
        <div class="btndiv">
            <button type="submit" class="btn cardbtn">Save Changes</button>
            <a href="/admin" class="btn cardbtn trans">Cancel</a>
        </div>
    </form>
</div>

{% endblock main %}

{% block js %}{% endblock js %}