<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Pannel-AlHayyTravels</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/admin/style.css">
</head>

<body>
    <nav>
        <h1 class="title">Admin Dashboard</h1>
        <!-- <ul>
            <li><a href="" class="navlink">Packages</a></li>
            <li><a href="" class="navlink"></a></li>
            <li><a href="" class="navlink"></a></li>
            <li><a href="" class="navlink"></a></li>
        </ul> -->
    </nav>
    <main>
        <!-- <div class="nav"></div> -->
        <div class="content">

            <a href="/admin/add-new-package" class="btn cardbtn add">Add New Package</a>

            {% for pkg in packageList %}

            <div class="pkgcard">
                <!-- <div class="cardimg"> -->
                    <img class="cardimg" src="static/img/packages/ryan-pradipta-putra-MWJ7JpFBlGk-unsplash.jpg" alt="">
                <!-- </div> -->
                <div class="cardtext">
                    <h2 class="cardheading1 cardtext">{{ pkg.title }}</h2>
                    <div class="desc">
                        <div class="feature">
                            <div class="featureheading">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                  </svg>
                                <h3 class="cardheading cardtext">Duration</h3>
                            </div>
                            <p class="cardp cardtext">{{pkg.duration}} days</p>
                        </div>
                        <div class="feature">
                            <div class="featureheading">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon-stars-fill" viewBox="0 0 16 16">
                                <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
                                <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
                              </svg>
                            <h3 class="cardheading cardtext">Room Type</h3>
                            </div>
                            
                            <p class="cardp cardtext">{{pkg.room}}</p>
                        </div>
                        <div class="feature">
                            <div class="featureheading">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag-fill" viewBox="0 0 16 16">
                                <path d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                              </svg>
                            <h3 class="cardheading cardtext">Price</h3>
                            </div>                           
                            <p class="cardp cardtext">Rs. {{pkg.price}}</p>
                        </div>
                    </div>
                </div>
                <div class="cardbtndiv">
                    <a href="/view-package/{{pkg.slug}}" class="btn cardbtn view">View Details</a>
                    <a href="/admin/edit-package" class="btn cardbtn edit">Edit Package</a>
                    <a href="/admin/delete-package/{{pkg.slug}}" class="btn cardbtn del">Delete Package</a>
                </div>
            </div>

            {% endfor %}

        </div>
    </main>
    
</body>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> -->
<script src="static/js/admin/script.js"></script>

</html>