@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    padding: 0px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* column-gap: 9px;
    column-gap: 2vw; */
}
header h1{
    text-align: center;
    font-size: 1.4vw;
    color: #979797;
    align-self: flex-end;
}
main{
    /* width: 100vw; */
    /* height: 100vh; */
    /* display: flex;
    column-gap: 10px; */
}
nav{
    background-color: black;
    justify-content: center;
}
nav h1{
    color: white;
    text-align: center;
}
.navlink{
    color: white;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.pkgcard{
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: center;
    padding: 3vw;
    box-shadow: none;
    column-gap: 1vw;
}
th, td{
    vertical-align: middle;
    text-align: center;
}